# SPDX-License-Identifier: GPL-2.0-only
# Single-hart, initramfs-only KVM host for the H+vector simulation profile.
CONFIG_LOCALVERSION="-karu-kvm"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_64BIT=y
CONFIG_ARCH_RV64I=y
CONFIG_MMU=y
CONFIG_RISCV_SBI=y
CONFIG_NONPORTABLE=y
CONFIG_EXPERT=y
CONFIG_FPU=y
CONFIG_RISCV_ISA_C=y
CONFIG_RISCV_ISA_V=y
CONFIG_RISCV_ISA_V_DEFAULT_ENABLE=y
CONFIG_RISCV_ISA_V_UCOPY_THRESHOLD=2147483647
# CONFIG_RISCV_ISA_V_PREEMPTIVE is not set
# CONFIG_SMP is not set
# CONFIG_MODULES is not set
CONFIG_VIRTUALIZATION=y
CONFIG_KVM=y
CONFIG_HZ_100=y
CONFIG_HZ=100
CONFIG_FLATMEM_MANUAL=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_ELF_CORE=y
CONFIG_BINFMT_ELF=y
CONFIG_MULTIUSER=y
CONFIG_FUTEX=y
CONFIG_POSIX_TIMERS=y
CONFIG_EPOLL=y
CONFIG_EVENTFD=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_SERIAL_OF_PLATFORM=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SIFIVE_PLIC=y
CONFIG_PROC_FS=y
CONFIG_PROC_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
# CONFIG_NET is not set
# CONFIG_PCI is not set
# CONFIG_ACPI is not set
# CONFIG_EFI is not set
# CONFIG_PERF_EVENTS is not set
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_KALLSYMS is not set
# CONFIG_FTRACE is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_HW_RANDOM is not set
# CONFIG_DEVMEM is not set
